#los {
	margin-top: 60px;
}
.input-icon input {
	display: none;
}

#icon1 {
	margin-top: 10px;
	margin-left: 10px;
}

.setLebar {
	max-width: 100px;
}

.concat div {
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: inherit;
}

.modal {
	display: block !important; /* I added this to see the modal, you don't need this */
}

/* Important part */
.modal-dialog {
	overflow-y: initial !important;
}
.modal-body {
	height: 80vh;
	overflow-y: auto;
}

@media (max-width: 600px) {
	body {
		font-size: 11px;
	}
	h5 {
		font-size: 14px;
	}
	h6 {
		font-size: 13px;
	}
}
